[Unit]
Description=systemd home directory
Before=systemd-homed.service

[Mount]
What=/dev/disk/by-label/data
Where=/var/lib/systemd/home
Type=btrfs
Options=subvol=var/lib/systemd/home,defaults,relatime

[Install]
WantedBy=systemd-homed.service
