[Unit]
Description=systemd home directory
Before=firstboot.service

[Mount]
What=/dev/disk/by-label/data
Where=/var/lib/firstboot
Type=btrfs
Options=subvol=var/lib/firstboot,defaults,relatime

[Install]
WantedBy=firstboot.service
